Repository nihalgonsalves/pg-error-enum: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, typescript-build

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

typescript-build:
  run: npm run typecheck

Sync with latest Postgres Errors
  src/PostgresError.ts
Due: prettier, eslint, typescript-build

ci: don't test EoL node versions 14, 16
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: prettier

chore(deps): upgrade all
  package-lock.json
  package.json
Due: prettier

chore: add vscode settings
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier

chore: use corepack & yarn v4
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .github/workflows/sync.yml
  .github/workflows/test.yml
  .gitignore
  .yarnrc.yml
  package-lock.json
  package.json
  yarn.lock
Due: prettier

fix: run test directly
  .github/workflows/test.yml
Due: prettier

chore: use corepack & yarn v4 (#515)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .github/workflows/sync.yml
  .github/workflows/test.yml
  .gitignore
  .yarnrc.yml
  package-lock.json
  package.json
  yarn.lock
Due: prettier

chore(dependabot): update versioning-strategy to increase
  .github/dependabot.yml
Due: prettier

fix: deps
  .vscode/settings.json
  package.json
  yarn.lock
Due: prettier

chore: migrate release please manifest
  .release-please-manifest.json
  .vscode/settings.json
  release-please-config.json
Due: prettier

chore: remove extraneous release please action vars
  .github/workflows/publish.yml
Due: prettier

ci: make release please use config
  .github/workflows/publish.yml
  .gitignore
  release-please-config.json
Due: prettier

ci: remove $schema from release please manifest
  .release-please-manifest.json
Due: prettier

fix: migrate changes
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .github/workflows/sync.yml
  .github/workflows/test.yml
  README.md
  bin/sync.ts
  bin/test.js
  lefthook.yml
  src/PostgresError.ts
  src/index.ts
  tsconfig.json
Due: prettier, eslint, typescript-build

fix: update sync.ts quotes for prettier changes
  bin/sync.ts
Due: prettier, eslint, typescript-build

chore: use conventional commit format for sync
  .github/workflows/sync.yml
Due: prettier

feat: sync with latest Postgres Errors
  src/PostgresError.ts
Due: prettier, eslint, typescript-build

chore: prettier
  .devcontainer/devcontainer.json
  tsconfig.json
Due: prettier

chore: use yarn@4.1.0
  package.json
  yarn.lock
Due: prettier

chore: fix new lint issues
  .eslintrc
  bin/sync.ts
  package.json
  yarn.lock
Due: prettier, eslint, typescript-build

chore: dedupe
  yarn.lock
Due: none

chore: upgrade eslint
  .eslintrc
  .github/dependabot.yml
  bin/test.js
  eslint.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: prettier, eslint, typescript-build

chore: use esconfig with native eslint v9
  .github/workflows/check.yml
  .prettierrc
  bin/test.js
  eslint.config.js
  eslint.config.mjs
  knip.jsonc
  package.json
  tsconfig.json
  yarn.lock
Due: prettier, eslint, typescript-build

chore: use esconfig with native eslint v9 (#537)
  .github/workflows/check.yml
  .prettierrc
  bin/test.js
  eslint.config.js
  eslint.config.mjs
  knip.jsonc
  package.json
  tsconfig.json
  yarn.lock
Due: prettier, eslint, typescript-build

ci: build and test node 22 lts
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .github/workflows/sync.yml
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: prettier

ci: build and test node 22 lts (#543)
  .github/workflows/check.yml
  .github/workflows/publish.yml
  .github/workflows/sync.yml
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: prettier

chore: bump esconfig again to fix lint
  package.json
  yarn.lock
Due: prettier

chore: upgrade all
  package.json
  yarn.lock
Due: prettier

chore: use node strip types instead of tsx
  bin/sync.mts
  package.json
  tsconfig.json
  yarn.lock
Due: prettier, eslint, typescript-build

chore: yarn dedupe
  yarn.lock
Due: none

chore: fix knip warning
  knip.jsonc
  lefthook.yml
Due: prettier

build: update tsconfig
  package.json
  tsconfig.json
  yarn.lock
Due: prettier

build!: switch to esm
  .devcontainer/Dockerfile
  .github/workflows/test.yml
  .vscode/settings.json
  README.md
  bin/sync.ts
  eslint.config.js
  eslint.config.mjs
  knip.jsonc
  package-test/.gitignore
  package-test/package.json
  package-test/test.cjs
  package-test/test.mjs
  package-test/yarn.lock
  package.json
  release-please-config.json
  src/index.ts
  tsconfig.build.json
  tsconfig.json
Due: prettier, eslint, typescript-build

build!: switch to esm (#552)
  .devcontainer/Dockerfile
  .github/workflows/test.yml
  .vscode/settings.json
  README.md
  bin/sync.ts
  eslint.config.js
  eslint.config.mjs
  knip.jsonc
  package-test/.gitignore
  package-test/package.json
  package-test/test.cjs
  package-test/test.mjs
  package-test/yarn.lock
  package.json
  release-please-config.json
  src/index.ts
  tsconfig.build.json
  tsconfig.json
Due: prettier, eslint, typescript-build

fix(build): remove prepublish test
  package.json
Due: prettier

Path conditions:
  prettier: any of: *.{js,ts,jsx,tsx,mjs,mts,cjs,cts,json,yml,yaml,md}
  eslint: any of: *.{js,ts,jsx,tsx,mjs,mts,cjs,cts}
  typescript-build: any of: *.{js,ts,jsx,tsx,mjs,mts,cjs,cts}
